extends layout

block content
  .container
    h1 Case Scraper
    
    .checkbox
      label
        input(type="checkbox")
        | Include last year
    .form-group
      button.btn.btn-primary#btn-search Search
    

     
</div>
